/* General */

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  text-rendering: geometricPrecision;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black);

  color: var(--white);
  font-family: var(--font-primary);

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: 600;
  color: rgba(0, 0, 0, 0.86);
}

h1,
h2,
h3 {
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
}

h4,
h5,
h6 {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.4rem;
}

p {
  margin: 0 0 1.6rem;
}

strong {
  font-weight: 500;
}

small {
  font-size: 1.2rem;
}

blockquote {
  padding: 1.6rem 3.2rem;
  margin: 0 0 3.2rem;

  border-left: 8px solid #eee;

  font-size: 1.6rem;
  font-style: italic;
}

body,
button,
input,
select,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: var(--white);
  text-decoration: none;
}

figure {
  margin: 0;
}
img {
  vertical-align: middle;
}

code,
pre {
  font-family: "Fira Code", source-code-pro, Menlo, Monaco, Consolas,
  "Courier New", monospace;
  width: 100%;
}

code {
  color: var(--emerald);
}

#root {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 640px) {
  .mobile-scroll-lock {
    overflow: hidden;
  }
}

form {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 2rem;
  /* border: 2px solid hsl(0, 0%, 90%); */
  display: grid;
  gap: 1.5rem;
}

.btn {
  height: 30px;
  width: 100px;
  font-size: 1.5em; 
}

.btn_form {
  cursor: pointer;
  border: 1px solid #3498db;
  background-color: transparent;
  height: 30px;
  width: 100px;
  color: #3498db;
  font-size: 1.5em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.full-width {
  grid-column: span 2;
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-image: radial-gradient(
  hsl(213, 73%, 50%) 40%,
  transparent calc(40% + 1px)
  );
}

h1 {
  text-align: center;
}
h2 {
  margin: 0;
}
#multi-step-form-container {
  margin-top: 5rem;
}
.text-center {
  text-align: center;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.pl-0 {
  padding-left: 0;
}
.button {
  padding: 0.7rem 1.5rem;
  border: 1px solid #4361ee;
  background-color: #4361ee;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.submit-btn {
  border: 1px solid #0e9594;
  background-color: #0e9594;
}
.mt-3 {
  margin-top: 2rem;
}
.d-none {
  display: none;
}
.form-step {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 3rem;
}
.font-normal {
  font-weight: normal;
}
ul.form-stepper {
  counter-reset: section;
  margin-bottom: 3rem;
}
ul.form-stepper .form-stepper-circle {
  position: relative;
}
ul.form-stepper .form-stepper-circle span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.form-stepper-horizontal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
ul.form-stepper > li:not(:last-of-type) {
  margin-bottom: 0.625rem;
  -webkit-transition: margin-bottom 0.4s;
  -o-transition: margin-bottom 0.4s;
  transition: margin-bottom 0.4s;
}
.form-stepper-horizontal > li:not(:last-of-type) {
  margin-bottom: 0 !important;
}
.form-stepper-horizontal li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.form-stepper-horizontal li:not(:last-child):after {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 1.5px;
  content: "";
  top: 32%;
}
.form-stepper-horizontal li:after {
  background-color: #dee2e6;
}
.form-stepper-horizontal li.form-stepper-completed:after {
  background-color: #4da3ff;
}
.form-stepper-horizontal li:last-child {
  flex: unset;
}
ul.form-stepper li a .form-stepper-circle {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-right: 0;
  line-height: 1.7rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.38);
  border-radius: 50%;
}
.form-stepper .form-stepper-active .form-stepper-circle {
  background-color: #4361ee !important;
  color: #fff;
}
.form-stepper .form-stepper-active .label {
  color: #4361ee !important;
}
.form-stepper .form-stepper-active .form-stepper-circle:hover {
  background-color: #4361ee !important;
  color: #fff !important;
}
.form-stepper .form-stepper-unfinished .form-stepper-circle {
  background-color: #f8f7ff;
}
.form-stepper .form-stepper-completed .form-stepper-circle {
  background-color: #0e9594 !important;
  color: #fff;
}
.form-stepper .form-stepper-completed .label {
  color: #0e9594 !important;
}
.form-stepper .form-stepper-completed .form-stepper-circle:hover {
  background-color: #0e9594 !important;
  color: #fff !important;
}
.form-stepper .form-stepper-active span.text-muted {
  color: #fff !important;
}
.form-stepper .form-stepper-completed span.text-muted {
  color: #fff !important;
}
.form-stepper .label {
  font-size: 1rem;
  margin-top: 0.5rem;
}
.form-stepper a {
  cursor: default;
}

.assets {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.assets td, .assets th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* .assets tr:hover {background-color: #b6b2b2;} */

.assets th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4e504f;
  color: white;
}

.assets-div {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.request th {
  width: 20%;
}

.request td, .request th {
  padding-right: 8px;
  text-align: left;
  vertical-align: top;
}

.row {
  display: flex;
  width: 100%;
}

.cell {
  flex: 1;
  border: 1px solid #ddd;
  padding: 8px;
  box-sizing: border-box;
}

.header-cell {
  flex: 1;
  padding: 12px;
  background-color: #4e504f;
  color: white;
  box-sizing: border-box;
}

input {
  height: 2em;
  width: 2em;
  vertical-align: middle;
}

.terms-box{
  background-color: #111;
  color: #fff;
  padding: 100px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.terms-text{
  padding: 0 20px;
  height: 400px;
  overflow-y: auto;
  font-size: 14px;
  font-weight: 500;
  color: #f1f1f1;

}

.terms-text::-webkit-scrollbar{
  width: 4px;
  background-color: #282828;
}

.terms-text::-webkit-scrollbar-thumb{
  background-color: #615d5d;
}

.terms-text h3{
  text-transform: uppercase;
  color: #fff;
}

.terms-box h4{
  font-size: 12px;
  text-align: center;
  padding: 0 40px;
}

.terms-box h4 span{
  color: #d13639;

}

.buttons{
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}

.btn_terms{
  height: 50px;
  width: calc(50% - 6px);
  border: 0;
  border-radius: 6px;
  font-size: 19px;
  font-weight: 500;
  color: #fff;
  transition: .3s linear;
  cursor: pointer;
}

.red-btn{
  background-color: #635dff;
}

.gray-btn{
  background-color: #666464;
}

.btn:hover{
  opacity: .9;

}

.card-body{
  border-style: solid;
  border-width: 0.1em;
  border-color: #fff;
  border-radius: 5px;
}


/* Style the form - display items horizontally */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 10px 10px 10px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-right: 20px;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 10px;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 0.0625rem solid rgba(34, 42, 66, 0.05);
  border-radius: 0.2857rem;
}

.settlement-content {
  transition: height 0.4s ease;
  padding: 0px 20px;
  overflow: hidden;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
  visibility: hidden;
  width: 550px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -220px;
}
  
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.simpleModal{  
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  border-radius: 15px;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 100px;
  background-color: rgb(86, 97, 100);
  color : white;
  font-family: "Glober SemiBold";
  font-size: 20px;
  width: 600px;
  text-align: -webkit-center;
  margin-top: 150px;
  margin-left: auto;
  margin-right:auto;
  z-index: "auto"
  
}

.MessageModal{  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  border-radius: 15px;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 50px;
  background-color: rgb(86, 97, 100);
  color : white;
  font-family: "Glober SemiBold";
  font-size: 20px;
  width: 65%;
  text-align: -webkit-center;
  margin-top: 150px;
  margin-left: auto;
  margin-right:auto;
  z-index: "auto"
  
}

.containerButton{  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  border-radius: 15px;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 200px;
  padding: 10px 5px;
  
  padding-bottom: 10px;
  margin: 10px;
  background-color: rgb(86, 97, 100);
  color : white;
  font-family: "Glober SemiBold";
  font-size: 20px;
  text-align: -webkit-center;
  margin-top: 10px;
  margin-left: auto;
  margin-right:auto;
  z-index: "auto"
  
}

.container-inline {
  display: flex;
  justify-content: space-between;
}