.daml
**/*.dar
log
navigator.log
.lib
.build
.setup
target
.idea
*.iml
.vscode
node_modules
generated-main
generated-test
daml.js
wallet-views/typescript-client/lib
wallet-ui/build
wallet-ui/package-lock.json
wallet-views/typescript-client/package-lock.json
*.log
